.root{
  background-color:whitesmoke;
}
.p-6{
  /* background-color: bisque; */
  padding-left: 20px;
  padding-bottom: 20px;
}
.button{
  padding: 8px;
  border-radius: 15px;
  margin-left: 10px;
  background-color: aquamarine;
}
.mt-6{
  background-color: lightblue;
  padding: 10px;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: ;
}
*{
  font-family:'Times New Roman', Times, serif;
  margin:5px;
}

#show1{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}